@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  color: #3d142b;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --yellow: #f67436;
}
.d_flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}
.slideshow-container {
  max-width: 1300px;
  position: relative;
  margin: auto;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
}

.col-2 {
  flex: 0 0 auto;
  width: calc(16.66666667% - 25px);
}
.col-3 {
  flex: 0 0 auto;
  width: calc(25% - 25px);
}
.col-4 {
  flex: 0 0 auto;
  width: calc(33.33333333% - 25px);
}
.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.col-6 {
  flex: 0 0 auto;
  width: calc(50% - 25px);
}
.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
.col-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}
.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
#api_fetchedproducts_row {
  display: flex;
  justify-content: center;
}
#product_img {
  width: 100%;
}
#fetched_product_img {
  height: 200px;
  transform: translateY(10px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#category_product_img {
  width: 100%;
  height: 187px;
  object-position: center;
  object-fit: cover;
}
.nav_bar_child_container {
  box-shadow: 0px 0px 10px 0px #e5e5e5;
  padding: 15px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  height: 60px;
  width: 60px;
}
.cart {
  position: relative;
}
.fa-cart-shopping {
  font-size: 25px !important;
}
.fa-right-from-bracket {
  font-size: 25px;
}
.cart span {
  font-size: 11px;
  background: var(--yellow);
  color: #fff;
  position: absolute;
  top: -7px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -3px;
}
.nav_bar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}
.navbar_contents {
  gap: 50px;
  align-items: center;
}
.nav_bar_child_container input {
  padding: 10px 15px;
  border-radius: 5px;
  width: 500px;
  outline: none;
  border: 1px solid #7c7c7c;
}
.navbar_contents a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
}
.nav_login_register {
  gap: 30px;
  align-items: center;
}
#banner {
  width: 100%;
}
.row {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
.gap-0 {
  gap: 0px;
}
.card {
  box-shadow: 0px 0px 5px 1px #e5e5e5;
}
.card_content {
  padding: 10px 15px;
}
#price {
  font-size: 15px;
  padding-left: 4px;
  margin-top: 4px;
}
#discountedPrice {
  font-size: 13px;
  padding-left: 7px;
  margin-top: 4px;
}
#search_products {
  color: var(--yellow);
  border: 0px;
  outline: 1px solid var(--yellow);
  /* border-radius: 0px; */
}
#product_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: 700;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #b8b4b4;
}
.zoom-image {
  object-fit: cover;
  object-position: center;
  height: 250px;
  object-position: center;
}
#img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d4d3d3;
  padding-bottom: 10px;
}
.products_heading {
  font-weight: 900;
  display: flex;
  align-items: center;
}
.products_headings {
  padding-left: 20px;
}
.product_category {
  text-align: right;
}
#change_category {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filterProduct {
  color: var(--yellow);
  /* padding-bottom: 10px; */
}
#filterCategory {
  margin-top: 50px;
  padding: 20px;
  box-shadow: 0px 0px 1px 1px #e0e0e0;
}
#justForYou {
  padding-left: 20px;
  padding-bottom: 20px;
}

.products_section {
  width: 85%;
  margin: auto;
}
.bg_black {
  background-color: var(--yellow);
  color: #fff;
  padding: 50px;
  margin-top: 50px;
  width: 100%;
}

.bg_black div a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 4px;
  display: block;
}
.bg_black div h4 {
  padding-bottom: 10px;
  color: #fff;
}
.copy {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_content_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer_content_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_form,
.registration_form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_form_container,
.registration_form_container {
  padding: 80px 25px;
  box-shadow: 0px 0px 5px 1px #e5e5e5;
  width: 350px;
  margin: auto;
  gap: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}
.login_form_container h2,
.registration_form_container h2 {
  text-align: center;
}
#homepage_link {
  display: none;
}
.login_form_container form,
.registration_form_container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login_form_container form div input,
.registration_form_container form div input {
  width: 100%;
  padding: 7px 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--yellow);
}
#orSignup:hover {
  color: var(--yellow);
  transition: 0.5s;
}
#orSignIn:hover {
  color: var(--yellow);
  transition: 0.5s;
}
.login_form_container form div label {
  width: 120px;
}
.registration_form_container form div label {
  width: 130px;
}
.login_form_container form div,
.registration_form_container form div {
  position: relative;
}
#showHide {
  font-size: 20px;
  color: var(--yellow);
}
.login_form_container form div #show_or_hide {
  position: absolute;
  top: 23px;
  border: 0;
  outline: none;
  right: 4px;
  background: none;
  cursor: pointer;
}
.registration_form_container form div #registration_show_or_hide {
  position: absolute;
  top: 26px;
  border: 0;
  outline: none;
  right: 0px;
  background: none;
  cursor: pointer;
}
.product-detail-card {
  padding: 30px;
}
.link_card {
  text-decoration: none;
  color: #000;
}
.singleproduct_detail_container {
  width: 600px;
  margin: auto;
  padding-top: 30px;
}
.product_image {
  height: 197px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.product-detail-title,
.product-detail-description,
.product-detail-price,
#product-rating {
  font-weight: bold;
  color: var(--yellow);
  font-size: 16px;
}
.single-product-card-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.order-adding-section {
  display: flex;
  gap: 10px;
}
#increaseOrder,
#decreaseOrder {
  padding: 0px 30px;
  font-size: 25px;
  cursor: pointer;
  outline: 1px solid var(--yellow);
  background-color: #fff;
  color: var(--yellow);
  border: 0px;
}
#increase-decrease-order {
  display: flex;
  gap: 10px;
  align-items: center;
}
.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}
.added-products-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
}
.added-products-container table {
  border-collapse: collapse;
  border-color: var(--yellow);
}
.added-products-container thead tr th,
.added-products-container tbody tr td {
  padding: 15px;
}
.copyright {
  display: flex;
  justify-content: center;
  color: #fff;
}
.errMessage h3 {
  color: red;
}
#cart-product-img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.make-payment-link {
  text-decoration: none;
}

.payment-container {
  padding-top: 50px;
  width: 80%;
  margin: auto;
}
.product-payment-card-content {
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.pt-2 {
  padding-top: 5px;
}
.pt-3 {
  padding-top: 10px;
}
#paymentId {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.payment-flex {
  align-items: center;
}
.payment-image-container,
.payment-qty-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment-image-container p {
  font-weight: bold;
}
#productsContainer {
  padding-top: 50px;
}
#cPasswordErr,
#passwordErr,
#emailErr,
#loginErr {
  font-size: 13px;
  color: red;
  display: none;
}
#sidebar-container {
  height: 100vh;
  background-color: #353535;
  /* box-shadow: 0px 0px 2px 2px #e5e5e5; */
}
.sidebar-child-container {
  padding: 39px 0px 0px 40px;
}
.sidebar-child-container div ul li {
  list-style: none;
}
.sidebar-child-container div ul {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  gap: 20px;
}
.sidebar-child-container div ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar-child-container h2 {
  padding-bottom: 50px;
  color: #fff;
}

.dashboard div div h3 {
  padding: 10px 0px;
}
.p-5 {
  padding: 50px;
}
.dashboard-card-body {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.dashboard-card {
  box-shadow: 0px 0px 5px 1px #e5e5e5;
  border-radius: 7px;
}
.mb-3 {
  margin-bottom: 30px;
}
.form-control-label {
  padding-bottom: 5px;
  display: block;
}
.form-control-input {
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #000;
  padding: 7px 10px;
}
.form-control-select {
  width: 100%;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: 1px solid #000;
  padding: 7px 10px;
}
.form-control-textarea {
  width: 97%;
  border-radius: 7px;
  padding: 10px;
  outline: none;
}
.form-submit-btn {
  padding: 10px 20px;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  border: none;
}
.bg-danger {
  background-color: red;
  color: #fff;
}
.bg-secondary {
  background: #767575;
  color: #fff;
}
.bg-green {
  background-color: rgb(83 148 83);
  color: #fff;
}
.shoesOption {
  color: red;
}
#sidebar-list-container li a span {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}
#sidebar-list-container li a i {
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  padding: 8px;
  border-radius: 5px;
}
#productListTable thead tr th,
#productListTable tbody tr td {
  padding: 15px 25px;
}
.sub-category-container {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.filtering-product-section {
  box-shadow: 0px 0px 3px 1px #d2d2d2;
  padding: 20px 0 20px 40px;
}
.sub-category-products-p {
  padding: 0px 50px;
}
.filter-brand-container,
.filter-size-container,
.filter-color-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
#brandTitle,
#colorTitle,
#sizeTitle {
  padding-bottom: 7px;
}
#sizes,
#colors,
#brands {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.checkBoxInput {
  height: 25px;
  width: 19px;
}
#subCategoriesLink {
  text-decoration: none;
}

.quantityContainer button {
  padding: 0px 20px;
  outline: none;
  border: none;
}
.quantityContainer span {
  padding: 0px 10px;
  display: inline-block;
  transform: translateY(-4px);
}
.btn {
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 7px;
  outline: none;
  border: 0px;
  background: var(--yellow);
  color: #fff;
  transition: 0.3s;
}
.btn:hover {
  color: var(--yellow);
  background-color: #fff;
  outline: 1px solid var(--yellow);
}
.btn-secondary {
  background-color: #d9d9d9;
  border: 0px;
}
.star {
  font-size: 30px;
  cursor: pointer;
  padding-top: 0px;
  margin-top: 0px;
}
.one,
.two,
.three,
.four,
.five {
  color: var(--yellow);
}
#rateProduct {
  font-size: 16px;
  font-weight: 501;
}
@media screen and (max-width: 1300px) {
  .slideshow-container {
    max-width: 100%;
  }
  .col-xl-4 {
    width: 30%;
  }
  .sub-category-products-p {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 1000px) {
  #search_products {
    width: 300px;
  }
  .col-lg-3 {
    width: calc(30% - 25px);
  }
  .col-lg-9 {
    width: 70%;
  }
  .col-md-6 {
    width: calc(50% - 25px);
  }
  .sub-category-container {
    width: 98%;
  }
  .col-md-12 {
    width: 100%;
  }
  #filterCategory {
    margin-top: 45px;
  }
}
@media screen and (max-width: 750px) {
  .added-products-container {
    overflow-x: auto;
  }
  .zoom-image {
    height: 200px;
  }
  #search_products {
    width: 200px;
  }
  .nav_bar_child_container {
    padding: 15px 40px;
  }
  .col-sm-12 {
    width: 100%;
  }
  .product_category {
    text-align: left;
  }
  .product_category #change_category {
    padding: 4px 15px;
  }
  .footer_content_right {
    justify-content: flex-end;
  }
  .col-md-left {
    align-items: flex-start;
  }
  .col-md-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .bg_black {
    align-items: center;
  }
  .bg_black {
    justify-content: center;
  }
  .singleproduct_detail_container {
    width: 100%;
  }
  .js-image-zoom__zoomed-area,
  .js-image-zoom__zoomed-image {
    display: none !important;
  }
  .remove-shadow-md {
    box-shadow: 0px 0px 3px #fff;
  }
  .added-products-container tbody tr td,
  .added-products-container thead tr th {
    padding: 5px 10px;
  }
  #increaseOrder,
  #decreaseOrder {
    padding: 0px 10px;
    font-size: 20px;
  }
  .payment-container {
    width: 98%;
    margin: auto;
  }
  .col-sm-6 {
    width: calc(50% - 20px);
  }
  .filtering-product-section {
    padding: 20px 0 20px 13px;
  }
  .products_headings {
    padding-left: 0px !important;
  }
  .sub-category-container {
    padding-top: 0px !important;
  }
}
@media screen and (max-width: 550px) {
  .nav_bar_child_container {
    padding: 15px 10px !important;
  }
  .product_image {
    height: 150px;
  }
  .btn {
    padding: 7px 10px;
  }
  #logo {
    height: 40px;
    width: 40px;
  }
  #search_products {
    width: 100px;
    padding: 5px 10px;
  }
  .navbar_contents a {
    font-size: 15px;
  }
  .fa-cart-shopping {
    font-size: 19px !important;
  }
  .cart span {
    font-size: 10px;
    width: 14px;
    height: 14px;
  }
  .fa-right-from-bracket {
    font-size: 19px !important;
  }
  .navbar_contents {
    gap: 20px;
  }
  #fetched_product_img {
    height: 150px;
  }
  .products_heading {
    font-size: 20px;
  }
  .added-products-container tbody tr td,
  .added-products-container thead tr th {
    padding: 5px;
  }
  .quantityContainer span {
    padding: 0px 3px;
  }
  .col-sm-5 {
    width: 40%;
  }
  .col-sm-7 {
    width: calc(60% - 25px);
  }
}

@media screen and (max-width: 430px) {
  .added-products-container tbody tr td,
  .added-products-container thead tr th {
    padding: 0px;
  }
  .col-xsm-12 {
    width: 100%;
  }
  .product_image {
    height: 100px;
  }
  .btn {
    padding: 7px 5px;
  }
  .nav_login_register {
    gap: 10px;
  }
  #search_products {
    width: 120px;
  }
  #logo {
    width: 35px;
    height: 35px;
  }
  .navbar_contents a {
    font-size: 13px;
  }
  .col-sm-12 {
    width: 100%;
  }
  .product_category {
    text-align: left;
  }
  #fetched_product_img {
    height: 100px;
  }
  .col-xsl-12 {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .copyright {
    padding-right: 24px;
  }
  .order-adding-section {
    flex-direction: column;
    gap: 10px;
  }
  .product-detail-card {
    padding: 0px;
  }
  .added-products-container tbody tr td,
  .added-products-container thead tr th {
    padding: 5px 5px;
  }

  #payButton {
    padding: 6px 20px;
  }
  .col-sm-4 {
    width: calc(33.33333333% - 25px);
  }
}
h2,
#product_title,
#price,
#productTitle,
h3,
h4,
.fa-cart-shopping,
.fa-right-from-bracket {
  color: var(--yellow);
}
#product-rating-section {
  padding-top: 20px;
}
.loader {
  margin: auto;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid var(--yellow);
  width: 100px;
  height: 100px;
  animation: spin 0.9s linear infinite;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn-delete {
  background: red;
  color: #fff;
}
.btn-delete:hover {
  background: #fff;
  color: red;
  outline: 1px solid red;
}
#giveReview {
  width: 50%;
  outline: none;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid var(--yellow);
}
.banner-img {
  height: 500px;
  object-fit: cover;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  transition-delay: 1s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
