@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  color: #3d142b;
  font-family: "PT Sans", sans-serif;
}
.d_flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}
.col-2 {
  flex: 0 0 auto;
  width: calc(16.66666667% - 25px);
}
.col-3 {
  flex: 0 0 auto;
  width: calc(25% - 25px);
}
.col-4 {
  flex: 0 0 auto;
  width: calc(33.33333333% - 25px);
}
.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.col-6 {
  flex: 0 0 auto;
  width: calc(50% - 25px);
}
.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
.col-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}
.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
#product_img {
  width: 100%;
}
#fetched_product_img {
  height: 200px;
  transform: translateY(10px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.nav_bar_child_container {
  box-shadow: 0px 0px 10px 0px #e5e5e5;
  padding: 15px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.cart {
  position: relative;
}
.fa-cart-shopping {
  font-size: 25px !important;
}
.fa-right-from-bracket {
  font-size: 20px;
}
.cart span {
  font-size: 14px;
  background: #000;
  color: #fff;
  position: absolute;
  top: -7px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -3px;
}
.nav_bar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}
.navbar_contents {
  gap: 50px;
  align-items: center;
}
.nav_bar_child_container input {
  padding: 10px 15px;
  border-radius: 5px;
  width: 500px;
  outline: none;
  border: 1px solid #7c7c7c;
}
.navbar_contents a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
}
.nav_login_register {
  gap: 30px;
  align-items: center;
}
.home_banner_img_section {
  background-image: url(./images/banner.jpg);
  height: 550px;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}
.row {
  gap: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  box-shadow: 0px 0px 5px 1px #e5e5e5;
}
.card_content {
  padding: 10px 15px;
}
#price {
  font-size: 15px;
  padding-left: 4px;
  margin-top: 4px;
}
#original_price {
  font-size: 14px;
  padding-left: 4px;
  text-decoration: line-through;
}
#product_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: bolder;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #b8b4b4;
}
.products_heading {
  font-weight: 900;
  display: flex;
  align-items: center;
}
.product_category {
  text-align: right;
}
.product_category form select {
  padding: 6px 15px;
  border-radius: 7px;
  border: 1px solid #000;
  outline: none;
  cursor: pointer;
}

.products_section {
  width: 85%;
  margin: auto;
}
.bg_black {
  background-color: #14213d;
  color: #fff;
  padding: 50px;
  margin-top: 50px;
}

.bg_black div a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 4px;
  display: block;
}
.bg_black div h4 {
  padding-bottom: 10px;
  color: #fff;
}
.copy {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_content_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer_content_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_form,
.registration_form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_form_container,
.registration_form_container {
  padding: 80px 25px;
  box-shadow: 0px 0px 1px 1px #e5e5e5;
  width: 350px;
  margin: auto;
  gap: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}
.login_form_container h2,
.registration_form_container h2 {
  text-align: center;
}
#homepage_link {
  display: none;
}
.login_form_container form,
.registration_form_container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login_form_container form div input,
.registration_form_container form div input {
  width: 100%;
  padding: 7px 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
}
.login_form_container form div #login_btn,
.registration_form_container form div #register {
  width: 70%;
  border: 1px solid #000;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin-top: 30px;
  border-radius: 20px;
}
.login_form_container form div label {
  width: 120px;
}
.registration_form_container form div label {
  width: 130px;
}
.login_form_container form div,
.registration_form_container form div {
  position: relative;
}
.login_form_container form div #show_or_hide {
  position: absolute;
  top: 0px;
  border: 0;
  outline: none;
  right: 0px;
  background: none;
  cursor: pointer;
}
.registration_form_container form div #registration_show_or_hide {
  position: absolute;
  top: 26px;
  border: 0;
  outline: none;
  right: 0px;
  background: none;
  cursor: pointer;
}
.product-detail-card {
  padding: 30px;
}
.link_card {
  text-decoration: none;
  color: #000;
}
.singleproduct_detail_container {
  width: 600px;
  margin: auto;
  padding-top: 30px;
}
#product_image {
  height: 250px;
  background-size: auto calc(100% - 35px);
  background-repeat: no-repeat;
  background-position: center;
}
.product-detail-title,
.product-detail-description,
.product-detail-price,
#product-rating {
  font-weight: bold;
  font-size: 16px;
}
#add-to-cart-button {
  outline: none;
  border: 1px solid;
  background: transparent;
  color: #000;
  padding: 6px 15px;

  border-radius: 7px;
  cursor: pointer;
}
.single-product-card-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.order-adding-section {
  display: flex;
  gap: 10px;
}
#increaseOrder,
#decreaseOrder {
  padding: 0px 10px;
  font-size: 25px;
  cursor: pointer;
}
#increase-decrease-order {
  display: flex;
  gap: 10px;
  align-items: center;
}
.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}
.added-products-container {
  height: 87vh;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
}
.added-products-container thead tr th,
.added-products-container tbody tr td {
  padding: 15px;
}
.copyright {
  display: flex;
  justify-content: center;
  color: #fff;
}
.errMessage h3 {
  color: red;
}
#cart-product-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.delete-order-button {
  padding: 10px 25px;
  border-radius: 10px;
  background-color: red;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}
.delete-order-button:hover {
  outline: 1px solid red;
  background: #fff;
  color: red;
  transition: 0.2s;
}
.make-payment-link {
  background: green;
  color: #fff;
  outline: none;
  background-color: none;
  padding: 10px 25px;
  border-radius: 7px;
  text-decoration: none;
}
.make-payment-link:hover {
  transition: 0.2s;
  background: #fff;
  color: green;
  outline: 1px solid green;
}
.payment-container {
  padding-top: 50px;
  width: 80%;
  margin: auto;
}
.product-payment-card-content {
  padding: 25px 15px;
}
.pt-2 {
  padding-top: 5px;
}
.pt-3 {
  padding-top: 10px;
}
#payButton {
  padding: 6px 35px;
  border-radius: 7px;
  background-color: #676767;
  color: #fff;
  outline: none;
  border: none;
  margin-top: 15px;
  font-size: 17px;
  cursor: pointer;
}
#payButton:hover {
  background: #fff;
  outline: 1px solid #676767;
  transition: 0.3s;
  color: #000;
}
#paymentId {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.payment-flex {
  align-items: center;
}
.payment-image-container,
.payment-qty-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment-image-container p {
  font-weight: bold;
}
#productsContainer {
  padding-top: 50px;
}
#cPasswordErr,
#passwordErr,
#emailErr,
#loginErr {
  font-size: 13px;
  color: red;
  display: none;
}
#sidebar-container {
  height: 100vh;
  background-color: #353535;
  /* box-shadow: 0px 0px 2px 2px #e5e5e5; */
}
.sidebar-child-container {
  padding: 50px 0px 0px 40px;
}
.sidebar-child-container div ul li {
  list-style: none;
}
.sidebar-child-container div ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sidebar-child-container div ul li a {
  text-decoration: none;
  color: #fff;
}
.sidebar-child-container h2 {
  padding-bottom: 50px;
  color: #fff;
}

.dashboard div div h3 {
  padding: 10px 0px;
}
